.app__rows {
    margin: 100px 15px;
    display: flex;
    justify-content: space-evenly;
    
   

}

.down__content {
    width: 100%;
    padding: 20px;
    background-color: rgb(239, 236, 236);
   
    box-sizing: border-box;
    display: flex;
}


@media(max-width:1100px){
    .app__rows {
        flex-direction: column;
        margin: 100px 100px;
    }
    .down__content {
        flex-direction: column;
    }
}

@media(max-width:800px){
    .app__rows {
        margin: 100px 20px;
    }
}